@font-face
 {
    font-family: caprasimo;
    src: url(Caprasimo-Regular.ttf);
 }
 body{
    background-color: rgb(255 215 0);
 }
 h1
        {
            font-weight: bold;
            
            font-size: 40px;
        }
 .heading{
    color: rgb(128 0 0);font-family: caprasimo;
 }
 .section1{
    padding: 0px 0px 0px 80px;
    
 }
 section{
    
    padding: 0px 0px 0px 80px;
 }
 nav{
    border:2px solid rgb(128 0 0) ;
    border-right:none;
    border-left: none;
    padding: 4px;
 }
 nav a{
    padding:0px 2px;
 }
